# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Denny-Jo\Desktop\Uni\Level 6\CT6039 Dissertation\CT6039\s1707031_ct6039\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
